<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Department Setup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Montserrat+Subrayada&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
</head>
<body>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 sidebar m-0 border">
                    <div class="mx-auto mt-5 text-center">

                        <div class="Dashboard">
                            <a class="text-decoration-none">Dashboard</a>
                        </div>
                    </div>


                    <ul class="list-group mt-5">
                    <li class="list-group-item  ">
                            <a  th:href="@{/admin/note-approval-submitted}" class="text-decoration-none text-dark">
                                <i class="far fa-list-alt icons mx-2 fs-4"></i>
                                Note Approval
                            </a>
                        </li>

                        <a th:href="@{/admin/teacher-approval-submitted}">
                            <li class="list-group-item ">
                                <i class="fas fa-vote-yea icons mx-2 fs-4"></i>
                                Teacher Approval
                            </li>
                        </a>

                        <li class="list-group-item ">
                            <i class="fas fa-user-shield icons mx-2 fs-4"></i>
                            <span class="dropdown" style="width: 100%;">
                                <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Master Data Setup
                                </span>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/admin/department}" class="dropdown-item" >Department Setup</a ></li>
                                    <li><a th:href="@{/admin/semester}" class="dropdown-item" href="#">Semester Setup</a></li>
                                    <li><a th:href="@{/admin/course}" class="dropdown-item" href="#">Course Setup</a></li>
                                                                        <li><a th:href="@{/admin/user-list}" class="dropdown-item" href="#">User List</a></li>

                                </ul>
                            </span>
                        </li>
                        <a th:href="@{/logout}">
                            <li class="list-group-item ">
                                <i class="fas fa-sign-out-alt icons mx-2 fs-4"></i>
                                Log out
                            </li>
                        </a>

                    </ul>

                </div>
                <div class="col-md-4 border  mx-auto">
                    <div th:if="${param.success}" class="my-3">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>

                            <span>You have successfully added a new department!</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>


                    <div th:if="${param.fail}" class="my-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill"/>
                            </svg>


                            <span th:text="${error}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>

                    <div class="role_input  mt-5">
                        <form class="login" th:action="@{/admin/department/create}"
                              method="post" th:object="${department}"
                              enctype="multipart/form-data">
                            <div class="MPOS">Create a new Department
                            </div>
                            <div class="mb-4 mt-4">
                                <label for="floatingInput">Department Name</label>
                                <div class="form-floating ">
                                    <input type="text" class="form-control" id="floatingInput" th:field="*{departmentName}" required>
                                    <p th:errors="*{departmentName}" class="text-danger"
                                       th:if="${#fields.hasErrors('departmentName')}"></p>
                                </div>
                            </div>
                            <button class="btn  btn-primary upload_btn_submit ms-4 mt-4" type="submit">Submit</button>
                        </form>
                    </div>

                </div>
                <div class="col-md-6 border mx-auto">
                    <div class="role_table  mt-5">
                        <div class="MPOS">Department Table
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mt-3" >
                                <thead>
                                <tr>

                                    <th>S.N.</th>
                                    <th>Department Name</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody th:each="department,Index:${departments}">
                                <tr >
                                    <td th:text="${Index.count}"></td>
                                    <td th:text="${department.departmentName}"></td>
                                    <td th:text="${department.isActive()}"></td>

                                    <td>
                                          <a th:href="@{'/admin/department/delete/' +${department.id}}">
                                        <i class="fa-solid fa-trash" style="color: #f50025;"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>
