<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Montserrat+Subrayada&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div th:fragment="sidebars_master" class="col-md-2 sidebar m-0 border">
            <div class="mx-auto mt-5 text-center">

                <div class="Dashboard">
                    <a th:href="@{/admin}" class="text-decoration-none">Dashboard</a>

                </div>
            </div>

            <ul class="list-group mt-5">
                <li class="list-group-item  ">
                    <a th:href="@{/admin/decidePost}" class="text-decoration-none text-dark">
                        <i class="far fa-list-alt icons mx-2 fs-4"></i>
                        Note Approval
                    </a>
                </li>

                <li class="list-group-item ">
                    <i class="fas fa-vote-yea icons mx-2 fs-4"></i>
                    Teacher Approval
                </li>

                <li class="list-group-item ">
                    <i class="fas fa-user-shield icons mx-2 fs-4"></i>
                    <span class="dropdown" style="width: 100%;">
                        <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master Data Setup
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/category}">Department Setup</a></li>
                            <li><a class="dropdown-item" href="#">Semester Setup</a></li>
                            <li><a class="dropdown-item" href="#">Course Setup</a></li>
                        </ul>
                    </span>
                </li>
                <a  onclick="showPopup()">
                <li class="list-group-item ">
                    <i class="fas fa-sign-out-alt icons mx-2 fs-4"></i>
                    Log out
                </li>
                </a>

            </ul>

        </div>

    </div>


</div>
<script th:src="@{/js/popupbox.js}" ></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>