<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!--  title and bootstrap link-->
    <th:block th:replace="~{external/fragments/html-head :: html_head('create-post')}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/create-post.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div th:replace="~{external/fragments/sidebar :: sidebar}"> </div>


        <!--        SUCCESS OR FAILED FILE UPLOAD INDICATION -->

        <div class="col-md-10 border mx-auto">
            <div class="user_table_post  mt-5">
                <div class="MPOS">Departments
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mt-3" >
                        <thead>
                        <tr>

                            <th>S.N.</th>
                            <th>Department Name</th>
                            <th>Is Active</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody th:each="department,Index:${departments}">
                        <tr >
                            <td th:text="${Index.count}"></td>
                            <td th:text="${department.departmentName}"></td>
                            <td th:text="${department.isActive()}"></td>

                            <td>
                                <a th:href="@{'/user/department/'+${department.id}+'/semester'}">
                                <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <div th:replace="~{external/fragments/logout-popup :: popup}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</div>
</body>

</html>
