<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!--  title and bootstrap link-->
    <th:block th:replace="~{external/fragments/html-head :: html_head('create-post')}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/create-post.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div th:replace="~{external/fragments/sidebar :: sidebar}"></div>


        <!--        SUCCESS OR FAILED FILE UPLOAD INDICATION -->

        <div class="col-md-10 border mx-auto">
            <div class="user_table_post  mt-5">
                <div class="MPOS">
                    <span th:text="${note.getNoteTitle()}"></span>
                    <br><br><br>
                </div>
                <div th:unless="${ratingCheck.isRated()}">
                    <form class="u-form-rating" th:action="@{'/user/note-view/'+${note.id}+'/rate'}"
                          method="post" th:object="${rating}"
                    >
                        <div>
                            <label for="rating">Rating (between 1 and 5):</label>
                            <input type="number" id="rating" name="rating" th:field="*{stars}"  min="1" max="5">
                            <button class="btn  btn-primary " type="submit">Rate</button>

                        </div>
                    </form>
                </div>
                <div th:if="${ratingCheck.isRated()}">
                  <span>Your Rating: </span> <span th:text="${ratingCheck.getStars()}"><br><br></span>
                </div>
                <div class="table-responsive">
                    <table>
                        <!--            <thead>-->
                        <!--            <tr>-->

                        <!--              <th>S.N.</th>-->
                        <!--              <th>Author</th>-->
                        <!--              <th>Title</th>-->
                        <!--              <th>Description</th>-->
                        <!--              <th>File</th>-->
                        <!--              <th>Date-Time</th>-->
                        <!--              <th>Course</th>-->
                        <!--              <th>Action</th>-->
                        <!--            </tr>-->
                        <!--            </thead>-->
                        <tr>
                            <td><span>Author: </span><span th:text="${note.getUser().getUserFullName()}"></span>
                            </td>
                        </tr>

                        <tr>
                            <td><span>Upload Date: </span><span
                                    th:text="${note.getDateOfNoteCreation()}"></span></td>
                        </tr>

                        <tr>
                            <td><span>Department: </span><span
                                    th:text="${note.getCourse().getSemester().getDepartment().getDepartmentName()}"></span>
                            </td>
                        </tr>

                        <tr>
                            <td><span>Semester: </span><span
                                    th:text="${note.getCourse().getSemester().getSemesterName()}"></span></td>
                        </tr>
                        <tr>
                            <td><span>Course: </span><span th:text="${note.getCourse().courseName}"></span></td>
                        </tr>
                        <tr>
                            <td>
                            <span>Description: </span>
                                <span th:text="${note.getNoteDescription()}"></span><br><br></td>
                        </tr>

                        <tr>
                            <td>
                                <a th:href="@{'/download/'+${note.id}}">Click Here</a>
                                <span>to download the pdf file of the note and continue reading</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <div th:replace="~{external/fragments/logout-popup :: popup}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</div>
</body>

</html>
