<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!--  title and bootstrap link-->
    <th:block th:replace="~{external/fragments/html-head :: html_head('create-post')}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/create-post.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div th:replace="~{external/fragments/sidebar :: sidebar}"></div>


        <!--        SUCCESS OR FAILED FILE UPLOAD INDICATION -->


            <div th:if="${user.isUser()}" class="col-md-10 border mx-auto">
                <div class="user_input_post  mt-5">
                    <th:block th:if="${not #strings.isEmpty(success_message)}">
                        <div class="my-3">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </symbol>
                                </svg>
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                    <use xlink:href="#check-circle-fill"/>
                                </svg>

                                <span th:text="${success_message}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        </div>
                    </th:block>
                    <th:block th:if="${not #strings.isEmpty(message)}">
                        <div class="my-3">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </symbol>
                                </svg>
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                    <use xlink:href="#exclamation-triangle-fill"/>
                                </svg>

                                <span th:text="${message}"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        </div>
                    </th:block>

                <div class="my-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </symbol>
                        </svg>
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>

                        <span> Sorry! You do not have access to this page.</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                </div>
                    <div >
                        <p>
                            <a th:href="@{/user/teacher-approval-request}">Click here</a> if you are a teacher or a professor looking to upload your notes in this page.
                        </p>
                    </div>
<!--                    <div th:if="${requestStatus.isSubmitted()}">-->
<!--                        <p>-->
<!--                            Thankyou for submitting the form. Wait for a response from administration.-->
<!--                        </p>-->
<!--                    </div>-->
                </div>
            </div>


            <div th:if="${user.isTeacher()}" class="col-md-4 border  mx-auto">
                <th:block th:if="${not #strings.isEmpty(success_message)}">
                    <div class="my-3">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>

                            <span th:text="${success_message}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>
                </th:block>

                <th:block th:if="${not #strings.isEmpty(message)}">
                    <div class="my-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill"/>
                            </svg>

                            <span th:text="${message}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>
                </th:block>


                <div class="user_input_post  mt-5">
                    <form class="login" th:action="@{/user/note/post}" method="post" th:object="${note}"
                          enctype="multipart/form-data">
                        <div class="MPOS">Create a new Note
                        </div>
                        <div class="mb-4 mt-4">

                            <div class="form-floating ">
                                <input type="text" class="form-control" id="floatingInput" th:field="*{noteTitle}"
                                       required>
                                <label for="floatingInput">Title</label>

                            </div>

                        </div>

                        <div class="mb-4">
                            <label for="course" class=""> Course</label>
                            <select class="form-select mt-2" aria-label="Default select example" id="course"
                                    th:field="*{course}" required>
                                <option value="0">select option</option>
                                <option
                                        th:each="course : ${courses}"
                                        th:value="${course.id}"
                                        th:text="${course.courseName}"></option>
                                </option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <div class="form-floating">
                                <textarea class="form-control" id="floatingTextarea2" style="height: 180px"
                                          th:field="*{noteDescription}" required></textarea>
                                <label for="floatingTextarea2">Description</label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="input-group">
                                <input type="file" class="form-control" id="inputGroupFile04"
                                       th:field="*{multipartFile}"
                                       aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                            </div>
                        </div>
                        <button class="btn btn-dark upload_btn mt-4 me-3" type="submit">Reset</button>
                        <button class="btn  btn-primary upload_btn_submit ms-4 mt-4" type="submit">Submit</button>
                    </form>
                </div>


            </div>
            <div th:if="${user.isTeacher()}" class="col-md-6 border mx-auto">
                <div class="user_table_post  mt-5">
                    <div class="MPOS">My Creations
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mt-3">
                            <thead>
                            <tr>

                                <th>S.N.</th>
                                <th>Title</th>
                                <th>Date-Time</th>
                                <th>Course</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody th:each="note,Index:${noteDtos}">
                            <tr>
                                <td th:text="${Index.count}"></td>
                                <td th:text="${note.noteTitle}"></td>
                                <td th:text="${note.dateOfNoteCreation}"></td>
                                <td th:text="${note.getCourse().courseName}"></td>
                                <td th:text="${note.getNoteStatus()}"></td>

                                <td>

                                    <a th:href="@{'/user/self-note-view/'+${note.id}}">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>


                                    <a th:href="@{'/user/note/'+${note.id}+'/delete'}">
                                    <i class="fa-solid fa-trash" style="color: #f50025;"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

    </div>


    <div th:replace="~{external/fragments/logout-popup :: popup}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        function seePdf(data) {
            console.log(data)
        }
    </script>
</div>
</body>

</html>
