<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <!--  title and bootstrap link-->
  <meta charset="UTF-8">
  <title>Teacher Request Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Montserrat+Subrayada&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" th:href="@{/css/create-post.css}">

</head>
<body>
<div class="container-fluid">
  <div class="row">

    <div th:replace="~{external/fragments/sidebar :: sidebar}"> </div>


    <!--        SUCCESS OR FAILED FILE UPLOAD INDICATION -->

    <div class="col-md-10 border  mx-auto">
      <th:block th:if="${not #strings.isEmpty(success_message)}">
        <div  class="my-3">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </symbol>
            </svg>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
              <use xlink:href="#check-circle-fill"/>
            </svg>

            <span th:text="${success_message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        </div>
      </th:block>

      <th:block th:if="${not #strings.isEmpty(message)}">
        <div  class="my-3">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
              <use xlink:href="#exclamation-triangle-fill"/>
            </svg>

            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        </div>
      </th:block>


      <div class="user_input_post  mt-5">
        <form class="login" th:action="@{/user/teacher-approval-request/post}" method="post" th:object="${teacherApprovalRequest}" enctype="multipart/form-data">
          <div class="MPOS">Teacher Form
          </div>
          <div>
            <h6>Fill out the form to sent a request to our administration to be provided Teacher role and be able to upload your notes.</h6>
          </div>
          <div class="mb-4">
            <label for="Experience" class=""> Teaching Experience*</label>
            <select class="form-select mt-2" aria-label="Default select example" id="Experience"
                    th:field="*{teacherExperience}" required>
              <option value="0">select option</option>
              <option th:each="experienceOpt : ${T(com.example.nrs.entity.TeacherExperience).values()}"
                      th:value="${experienceOpt}" th:text="${experienceOpt}">>
              </option>
            </select>
          </div>

          <div class="mb-4">
            <label for="course" class=""> Educational Qualifications*</label>
            <select class="form-select mt-2" aria-label="Default select example" id="course"
                    th:field="*{educationQualification}" required>
              <option value="0">select option</option>
              <option th:each="qualificationOpt : ${T(com.example.nrs.entity.EducationQualification).values()}"
                      th:value="${qualificationOpt}" th:text="${qualificationOpt}">>
              </option>
            </select>
          </div>
          <div class="mb-4 mt-4">

            <label for="course" class=""> University/College Name*</label>
              <input type="text" class="form-control" id="floatingInput" th:field="*{universityOrCollegeName}" required >

          </div>
          <div class="mb-4">
            <label for="course" class=""> Desciption</label>
              <textarea class="form-control" id="floatingTextarea2" style="height: 180px"  th:field="*{detail}" ></textarea>
          </div>
          <div class="mb-4">
            <div class="input-group">
              <label for="Experience" class=""> Teaching Experience*</label>
              <input type="file" class="form-control" id="inputGroupFile04"
                     th:field="*{multipartFile}"
                     aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
            </div>
          </div>

          <button class="btn btn-dark upload_btn mt-4 me-3" type="submit">Reset</button>
          <button class="btn  btn-primary upload_btn_submit ms-4 mt-4" type="submit">Submit</button>
        </form>
      </div>


    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
</div>
</body>

</html>
