<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
    <link rel="stylesheet" href="css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.11.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
</head>
<body class="u-body u-xl-mode" data-lang="en">

<section class="u-align-center u-clearfix u-image u-valign-middle u-section-1" id="carousel_a84f"
         data-image-width="1980" data-image-height="1088">
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-27-lg u-size-27-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1"
                     data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500"
                     data-animation-out="1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h6 class="u-align-left u-text u-text-default u-text-1">Edu notes</h6>
                        <h2 class="u-align-left u-text u-text-2">
                  <span style="font-weight: 400;"> Discover the Power of EduNotes<span
                          style="font-size: 0.625rem;"></span>
                  </span>
                            <br>
                            <br>Find, Share, and Excel with the Best Study Notes
                        </h2>
                        <a th:href="@{/login}"
                           class="u-active-white u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-white u-palette-1-base u-radius-50 u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-1">Sign
                            in</a>
                    </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-shape-rectangle u-size-33-lg u-size-33-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1"
                     data-image-width="1288" data-image-height="1100" data-animation-name="customAnimationIn"
                     data-animation-duration="1500">
                    <div class="u-container-layout u-container-layout-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-grey-10 u-section-2" id="carousel_161d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn"
            data-animation-duration="1500" data-animation-delay="0"> Browse through a wide range of notes&nbsp;</h2>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-3-base u-repeater-item u-shape-rectangle u-video-cover u-list-item-1"
                     data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                        <h4 class="u-align-center u-text u-text-default u-text-2"> Personalized Learning</h4><span
                            class="u-align-center u-custom-item u-file-icon u-icon u-text-palette-1-base u-icon-1"><img
                            src="images/171322-1563ab1f.png" alt=""></span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-custom-item u-image u-image-default u-list-item u-repeater-item u-shading u-video-cover u-image-1"
                     data-image-width="1200" data-image-height="793" data-animation-name="customAnimationIn"
                     data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                        <h4 class="u-align-center u-text u-text-default u-text-3"> Easy to Use</h4><span
                            class="u-align-center u-custom-item u-icon u-icon-rectangle u-opacity u-opacity-55 u-text-white u-icon-2"><svg
                            class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b618"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 512 512" id="svg-b618"><path
                            d="m511.4 38.222c-1.109-20.338-17.284-36.511-37.622-37.621-41.038-2.242-121.342-.061-198.13 39.656-39.145 20.248-80.545 54.577-113.584 94.185-.407.488-.803.979-1.207 1.468l-74.98 5.792c-12.342.954-23.335 7.423-30.161 17.747l-51.154 77.372c-5.177 7.83-6 17.629-2.203 26.212 3.798 8.584 11.602 14.566 20.877 16.003l63.171 9.784c-.223 1.228-.447 2.455-.652 3.683-2.103 12.58 2.065 25.514 11.151 34.599l87.992 87.993c7.533 7.533 17.712 11.686 28.142 11.686 2.148 0 4.308-.177 6.458-.536 1.228-.205 2.455-.429 3.683-.652l9.784 63.172c1.437 9.275 7.419 17.08 16.001 20.877 3.571 1.58 7.35 2.36 11.112 2.36 5.283-.001 10.529-1.539 15.101-4.562l77.372-51.155c10.325-6.827 16.793-17.82 17.745-30.161l5.792-74.979c.489-.404.981-.8 1.469-1.207 39.609-33.039 73.939-74.439 94.186-113.585 39.719-76.791 41.896-157.096 39.657-198.131zm-175.394 393.037-74.011 48.933-9.536-61.565c31.28-9.197 62.223-23.927 91.702-43.66l-3.773 48.845c-.235 3.047-1.833 5.762-4.382 7.447zm-129.895-37.377-87.993-87.993c-2.245-2.246-3.283-5.401-2.774-8.44 2.616-15.643 6.681-30.534 11.713-44.562l132.028 132.028c-16.848 6.035-31.939 9.635-44.534 11.741-3.044.506-6.195-.529-8.44-2.774zm-117.923-222.269 48.844-3.773c-19.734 29.479-34.464 60.422-43.661 91.702l-61.564-9.535 48.934-74.012c1.686-2.55 4.401-4.147 7.447-4.382zm270.155 155.286c-24.233 20.213-47.756 34.833-69.438 45.412l-149.221-149.221c13.858-28.304 30.771-51.873 45.417-69.431 30.575-36.655 68.602-68.276 104.331-86.756 70.474-36.453 144.725-38.416 182.713-36.348 5.028.274 9.027 4.273 9.301 9.302 2.071 37.988.104 112.238-36.349 182.713-18.479 35.728-50.1 73.754-86.754 104.329z"></path><path
                            d="m350.721 236.243c19.202-.002 38.412-7.312 53.031-21.931 14.166-14.165 21.966-32.999 21.966-53.031s-7.801-38.866-21.966-53.031c-29.242-29.243-76.822-29.241-106.062 0-14.166 14.165-21.967 32.999-21.967 53.031s7.802 38.866 21.967 53.031c14.622 14.622 33.822 21.933 53.031 21.931zm-31.82-106.781c8.772-8.773 20.295-13.159 31.818-13.159 11.524 0 23.047 4.386 31.819 13.159 8.499 8.499 13.179 19.799 13.179 31.818s-4.68 23.32-13.179 31.819c-17.544 17.545-46.093 17.544-63.638 0-8.499-8.499-13.18-19.799-13.18-31.818s4.682-23.32 13.181-31.819z"></path><path
                            d="m15.301 421.938c3.839 0 7.678-1.464 10.606-4.394l48.973-48.973c5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.858-21.213 0l-48.972 48.973c-5.858 5.858-5.858 15.355 0 21.213 2.928 2.929 6.767 4.394 10.606 4.394z"></path><path
                            d="m119.761 392.239c-5.857-5.858-15.355-5.858-21.213 0l-94.154 94.155c-5.858 5.858-5.858 15.355 0 21.213 2.929 2.929 6.767 4.393 10.606 4.393s7.678-1.464 10.606-4.394l94.154-94.154c5.859-5.858 5.859-15.355.001-21.213z"></path><path
                            d="m143.429 437.12-48.973 48.973c-5.858 5.858-5.858 15.355 0 21.213 2.929 2.929 6.768 4.394 10.606 4.394s7.678-1.464 10.606-4.394l48.973-48.973c5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.858-21.212 0z"></path></svg></span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-video-cover u-list-item-3"
                     data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <h4 class="u-align-center u-text u-text-default u-text-4"> Expert Contributors</h4><span
                            class="u-align-center u-custom-item u-icon u-icon-rectangle u-text-palette-3-base u-icon-3"><svg
                            class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 507.971 507.971"
                            style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f57a"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 507.971 507.971" id="svg-f57a"><g id="XMLID_1477_"><path
                            id="XMLID_1483_"
                            d="m333.696 213.433c5.272-2.056 7.053-2.747 23.624 1.301l46.526 11.778.12.03c27.078 6.62 48.859-28.524 53.763-37.189 5.517-8.342 7.47-18.303 5.499-28.141-2.021-10.093-7.904-18.714-16.564-24.275-6.386-4.102-16.288-12.189-27.754-21.554-22.364-18.266-52.993-43.28-85.469-61.506-6.547-3.674-13.414-6.528-20.525-8.537l-.259-45.34-15.491.599c-1.565.061-15.722.828-30.501 9.017-12.157 6.736-26.569 19.508-31.789 43.152-9.16.926-22.034 3.343-36.854 9.313-25.458 10.256-61.853 33.544-90.658 86.253-13.734 25.13-25.362 73.345-31.106 128.976-3.625 35.112-4.304 76.13-1.614 97.531l1.65 13.13h49.119c-.347.773-.693 1.527-1.038 2.246-4.681 9.77-9.658 16.039-12.79 19.421h-10.475c-17.506 0-31.749 14.242-31.749 31.749v36.584h-25.366v30h408v-30h-25.366v-36.584c0-17.507-14.243-31.749-31.749-31.749h-18.426c1.509-12.725 1.99-32.949-10.9-60.974-15.439-33.563-31.919-65.015-45.161-90.285-6.804-12.984-14.142-26.988-19.241-37.554.886-.077 1.771-.166 2.655-.267 16.396-1.87 24.516-5.033 29.889-7.125zm-230.333 144.538c-.977-20.828.021-51.285 2.736-77.581 5.275-51.095 15.847-96.183 27.589-117.67 7.768-14.215 16.432-26.632 25.941-37.217-21.947 43.021-29.617 103.402-23.416 184.035 1.484 19.291.416 35.329-1.882 48.433zm291.517 81.667c.964 0 1.749.784 1.749 1.749v36.584h-297.268v-36.584c0-.965.785-1.749 1.749-1.749zm-127.702-221.796c3.688 10.434 11.857 26.246 26.642 54.461 13.082 24.966 29.363 56.037 44.479 88.898 10.82 23.522 9.339 38.396 7.894 48.437h-198.173c11.226-20.311 21.89-53.189 18.106-102.4-6.127-79.678 2.237-139.052 24.86-176.475 17.66-29.212 40.662-40.498 62.709-49.555l8.74-3.591.536-9.434c.856-15.075 6.557-25.499 17.427-31.867.819-.48 1.641-.921 2.458-1.324l.203 35.653 12.92 1.743c7.99 1.078 15.655 3.652 22.78 7.65 30.2 16.948 59.662 41.01 81.173 58.579 12.679 10.355 22.693 18.534 30.519 23.561 2.371 1.522 3.123 3.739 3.36 4.926.238 1.187.397 3.525-1.206 5.847l-.414.604-.345.616c-6.68 11.931-17.019 22.58-20.994 23.169l-46.235-11.705-.12-.03c-23.373-5.712-30.652-4.426-41.689-.127-4.626 1.802-9.87 3.844-22.404 5.274-8.047.919-16.162.398-24.117-1.546-6.456-1.577-12.609-4.052-18.288-7.354l-15.08 25.934c7.58 4.407 15.731 7.785 24.259 10.056z"></path><path
                            id="XMLID_1488_"
                            d="m310.526 141.971c7.846 0 15.363-6.899 15-15-.364-8.127-6.591-15-15-15-7.846 0-15.363 6.899-15 15 .365 8.127 6.591 15 15 15z"></path>
</g></svg></span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-4"
                     data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <h4 class="u-align-center u-text u-text-default u-text-5"> Comprehensive Database</h4><span
                            class="u-align-center u-custom-item u-file-icon u-icon u-opacity u-opacity-55 u-text-white u-icon-4"><img
                            src="images/1602309-1e621f01.png" alt=""></span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-3-base u-repeater-item u-shape-rectangle u-video-cover u-list-item-5"
                     data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <h4 class="u-align-center u-text u-text-default u-text-6"> Note Ratings</h4><span
                            class="u-align-center u-custom-item u-file-icon u-icon u-icon-rounded u-palette-1-base u-text-palette-3-base u-icon-5"><img
                            src="images/1040230-55085ba9.png" alt=""></span>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-custom-item u-image u-image-default u-list-item u-repeater-item u-shading u-video-cover u-image-2"
                     data-image-width="800" data-image-height="534" data-animation-name="customAnimationIn"
                     data-animation-duration="1500" data-animation-delay="1000">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6">
                        <h4 class="u-align-center u-text u-text-default u-text-7"> Collaborative Learning</h4><span
                            class="u-align-center u-custom-item u-file-icon u-icon u-opacity u-opacity-55 u-text-white u-icon-6"><img
                            src="images/9926729-f4154e95.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section
        class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-grey-10 u-section-3"
        id="carousel_d724">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn"
             data-animation-duration="1500" data-animation-delay="500"></div>
        <img class="u-image u-image-default u-image-1" src="images/595119f1-6ce3-edb5-2421-cc21a4b24655.jpg"
             data-image-width="1077" data-image-height="1064" data-animation-name="customAnimationIn"
             data-animation-duration="1250">
        <div class="u-opacity u-opacity-80 u-shape u-shape-svg u-text-palette-1-base u-shape-2"
             data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-db78"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-db78"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
	C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
	l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
	c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
	 M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
	C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
	C80.2,0,80.1,0,80,0z"></path></svg>
        </div>
        <div class="u-palette-3-base u-preserve-proportions u-shape u-shape-circle u-shape-3"
             data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <div class="u-align-left u-container-style u-group u-shape-rectangle u-white u-group-1"
             data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-left u-text u-text-1"> Welcome to EduNotes, the ultimate destination for college
                    students</h2>
                <p class="u-align-left u-text u-text-2"> to access high-quality study materials. Our innovative note
                    recommendation system connects you with notes tailored to your courses, helping you excel
                    academically.<br>&nbsp;Our intelligent algorithm recommends notes based on your preferences,
                    ensuring you discover the most relevant and helpful study materials.<br>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-1-base u-section-4" id="carousel_ab43">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1"
                         data-animation-name="customAnimationIn" data-animation-duration="1500">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-text u-text-1">Get in touch</h3>
                            <h6 class="u-custom-font u-text u-text-font u-text-2"> We believe in innovation and creative
                                problem solving.</h6>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-18-lg u-size-18-md u-size-18-sm u-size-18-xs u-size-20-xl u-layout-cell-2"
                         data-animation-name="customAnimationIn" data-animation-duration="1500"
                         data-animation-delay="500">
                        <div class="u-container-layout u-container-layout-2">
                            <h6 class="u-text u-text-3">call us</h6>
                            <p class="u-text u-text-4">(+977) - 9813399811<br>(+977) - 9749403391<br>
                            </p>
                            <h6 class="u-text u-text-5">location</h6>
                            <p class="u-text u-text-6">Mitrapark, Chabahil<br>Kathmandu, Nepal
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-20-xl u-size-22-lg u-size-22-md u-size-22-sm u-size-22-xs u-layout-cell-3"
                         data-animation-name="customAnimationIn" data-animation-duration="1500"
                         data-animation-delay="750">
                        <div class="u-container-layout u-container-layout-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>