<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
    <link rel="stylesheet" href="css/register.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>
<body class="u-body u-xl-mode" data-lang="en">
<section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-ef6c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-align-center u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout">
                <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1">New User
                    Registration</h3>
                <div class="u-expanded-width u-form u-login-control u-white u-form-1">
                    <div th:if="${param.success}" class="my-3">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>

                            <span>You have successfully registered a user!</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>


                    <div th:if="${param.fail}" class="my-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </symbol>
                            </svg>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill"/>
                            </svg>


                            <span th:text="${error}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>

                    <form name="registration"
                          method="post"
                          role="form"
                          onsubmit="return validateform()"
                          th:action="@{/register/save}"
                          th:object="${user}"
                          class="u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form"
                          style="padding: 30px;">
                        <div class="u-form-group u-form-group-1">
                            <label for="text-24c7" class="u-label">Full Name *</label>
                            <input type="text"
                                   placeholder="Enter your Full Name"
                                   id="text-24c7"
                                   name="text"
                                   th:field="*{userFullName}"
                                   class="u-grey-5 u-input u-input-rectangle u-input-1"
                                   required/>
                            <p th:errors="*{userFullName}" class="text-danger"
                               th:if="${#fields.hasErrors('userFullName')}"></p>
                        </div>
                        <div class="u-form-group u-form-group-2">
                            <label for="text-eddc" class="u-label">Mobile Number *</label>
                            <input type="text"
                                   placeholder="Enter your Mobile Number"
                                   id="text-eddc"
                                   name="text-1"
                                   pattern="[9]{1}[0-9]{9}"
                                   th:field="*{userMobileNumber}"
                                   class="u-grey-5 u-input u-input-rectangle u-input-2"
                            required/>
                            <p th:errors="*{userMobileNumber}" class="text-danger"
                               th:if="${#fields.hasErrors('userMobileNumber')}"></p>
                        </div>
                        <div class="u-form-group u-form-group-3">
                            <label for="text-631c" class="u-label">College Name *</label>
                            <input type="text"
                                   placeholder="Enter your College Name"
                                   id="text-631c"
                                   name="text-2"
                                   th:field="*{collegeName}"
                                   class="u-grey-5 u-input u-input-rectangle u-input-3"
                            required/>
                            <p th:errors="*{collegeName}" class="text-danger"
                               th:if="${#fields.hasErrors('collegeName')}"></p>

                        </div>
                        <div class="u-form-group u-form-group-4">
                            <label for="text-a68b" class="u-label">College Address *</label>
                            <input type="text"
                                   placeholder="Enter your College address"
                                   id="text-a68b" name="text-3"
                                   th:field="*{collegeAddress}"
                                   class="u-grey-5 u-input u-input-rectangle u-input-4"
                            required/>
                            <p th:errors="*{collegeAddress}" class="text-danger"
                               th:if="${#fields.hasErrors('collegeAddress')}"></p>

                        </div>
                        <div class="u-form-group u-form-select u-form-group-5">
                            <label for="select-de10" class="u-label">Department *</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-de10" name="select"
                                        class="u-grey-5 u-input u-input-rectangle u-input-5"
                                        th:field="*{department}"
                                        required>
                                    <option value="0">select option</option>
                                    <option
                                            th:each="department : ${departments}"
                                            th:value="${department.id}"
                                            th:text="${department.departmentName}"></option>
                                </select>
                                <p th:errors="*{department}" class="text-danger"
                                   th:if="${#fields.hasErrors('department')}"></p>

                            </div>
                        </div>
                        <div class="u-form-group u-form-name">
                            <label for="username-a30d" class="u-label">Email *</label>
                            <input type="text"
                                   placeholder="Enter your email address"
                                   id="username-a30d"
                                   name="username"
                                   th:field="*{userEmail}"
                                   class="u-grey-5 u-input u-input-rectangle u-input-6" required="">
                            <p th:errors="*{userEmail}" class="text-danger"
                               th:if="${#fields.hasErrors('userEmail')}"></p>

                        </div>
                        <div class="u-form-group u-form-password">
                            <label for="password-a30d" class="u-label">Password *</label>
                            <input type="password"
                                   placeholder="Enter your Password"
                                   id="password-a30d" name="password"
                                   th:field="*{userPassword}"
                                   class="u-grey-5 u-input u-input-rectangle u-input-7" required="">
                            <p th:errors="*{userPassword}" class="text-danger"
                               th:if="${#fields.hasErrors('userPassword')}"></p>

                        </div>
                        <div class="u-align-right u-form-group u-form-submit">
                            <button onclick="showToast()" class="u-button-style u-palette-3-base u-btn-1 btn btn-primary" type="submit">
                                Sign up
                            </button>
                        </div>
                    </form>
                </div>
                <a th:href="@{/login}"
                   class="u-align-center u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-grey-40 u-text-hover-palette-4-base u-btn-2">Already
                    have an account?</a>
            </div>
        </div>
    </div>
    <div id="tostbox"></div>
</section>

<script>
    function validateform() {
        var num = document.registration.mobileNumber.value;
        var phoneno = /^\d{10}$/;
        if (num.value.match(phoneno)) {
            return true;
        } else {
            alert("Please enter valid Mobile Number");
            return false;
        }

        var x = document.registration.email.value;
        var atposition = x.indexOf("@");
        var dotposition = x.lastIndexOf(".");
        if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= x.length) {
            alert("Please enter a valid e-mail address");
            return false;
        } else {
            return true;
        }
    }
</script>
<!--<script>-->

<!--    let toastBox = document.getElementById('toastBox');-->
<!--    let successMsg= th:text="${error}"-->

<!--        function showToast() {-->
<!--            let toast = document.createElement('div');-->
<!--            toast.classList.add('toast');-->
<!--            toast.innerHTML = 'success';-->
<!--            toastBox.appendChild(toast);-->
<!--        }-->
<!--</script>-->


</body>
</html>